<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nexus.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nexus.Properties.Settings>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlockFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoInject" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiInstance" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorMinimap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoLaunch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>750</value>
            </setting>
            <setting name="CustomInjector" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnlockedFPS" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoInjectCheckInterval" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ThemeColorId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomThemeColor" serializeAs="String">
                <value />
            </setting>
        </Nexus.Properties.Settings>
    </userSettings>
</configuration>